{% extends "to_do_list_base.html" %}
{% block title %}Home page{%endblock%}
{% block content %}
<!-- "#" just refers the webpage to the same location, method = "post" means all data is not cached like in get method-->
<h1>To-do-list</h1>
<!-- For all entries in listdb, print all entries, need to fill up again -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{message}}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <br>
    {% if user == None %}
        <p><a href = "/auth/login">Click here to login!</a></p>
        <p><a href = "/auth/signup">New user? Register with us!</a></p>
    <!-- <p><a href = "/consumer/settings">Click here to change user settings</a></p> -->
    {% else %}
        <p><a href = "/mypages/user-addtasks">Would you like to add some tasks?</a></p>
        <p><a href = "/mypages/tasklist">Take a look at some of your tasks?</a></p>
        <p><a href = "/mypages/completed_tasks">Here are all the tasks you have completed</a></p>
        <p><a href = "/auth/settings">Would you like to change your password?</a></p>
    {% endif %}
{% endblock %}